Checks: clang-analyzer-*, 
    bugprone-*, 
    -bugprone-easily-swappable-parameters, 
#   -bugprone-narrowing-conversions,
    -bugprone-assignment-in-if-condition,
    cert-*, 
    -cert-err33-c,
    modernize-*,
    -modernize-avoid-c-arrays,
    -modernize-use-trailing-return-type,
    performance-*,
    -performance-enum-size,
    readability,
    -readability-identifier-length,
    -readbility-magic-numbers,
    -readability-named-parameter,
