build
.deps
.dirstamp
*.log
*.a
*.o
*.h.in
*.in
*.in~
*.m4
*.m4
Makefile
aclocal.m4
ar-lib
autom4te.cache/
compile
config.h
config.status
configure
depcomp
gb/Makefile
install-sh
missing
stamp-h1
test-driver
*.swp
doxy
*.pcm
.vscode
workdir
.cache
compile_commands.json

# Ignore all .md files
*.md

# But do NOT ignore README.md
!README.md
!AGENTS.md
!CONTRIBUTING.md
!LICENSE.md
!NEWS.md
!OVERVIEW.md
!SETUP.md
!TODO.md
!USERGUIDE.md
!WHATSNEW.md
!DEVELOPERGUIDE.md
!ARCHITECTURE.md